<header class="fixed w-screen h-28 bg-gray-700">
    <div class="header-container w-11/12 h-full flex justify-between items-center mx-auto">
        <a href="#">
            <h1 class="text-white text-3xl">
            FA&nbsp;EXHIBITION
            </h1>
        </a>
        <button
            type="button"
            class="text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400"
            aria-label="toggle menu"
            >
            <svg viewBox="0 0 24 24" class="w-12 h-12 fill-current">
                <path
                    fill-rule="evenodd"
                    d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
                ></path>
            </svg>
        </button>
    </div>
</header>