.p-hamburger__menu {
  transition: 1s;
  transform: translateX(120%);
  @apply text-base text-white;
}

.p-hamburger__menu.active {
  display: block;
  transition: 1s;
  transform: translateX(0%);
}

@media print, screen and (min-width: 768px) {
  .p-hamburger__menu {
    transition: 1s;
    transform: translateX(0%);
  }
}

.p-hamburger__line {
  @apply absolute h-px w-12 bg-white;
}

#jsHamburger.active {
  .p-hamburger__line {
    &:nth-child(1) {
      transition: 1s;
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      transition: 1s;
      opacity: 0;
      transform: translateX(100%);
    }
    &:nth-child(3) {
      transition: 1s;
      transform: rotate(-45deg);
    }
  }
}
