<nav class="gnav z-10 bg-white text-sm" id="hamburger-menu">
  <ul class="gnav__list">
    <li class="gnav__divider px-3">
      <a class="font-noto text-sm font-bold" href="./">トップ</a>
    </li>
    <li class="gnav__divider px-3">
      <a class="font-noto text-sm font-bold" href="#area-news">ニュース</a>
    </li>
    <li class="gnav__divider px-3">
      <a class="font-noto text-sm font-bold" href="#area-event">イベント</a>
    </li>
    <li class="gnav__divider px-3">
      <a class="font-noto text-sm font-bold" href="#area-correction"
        >コレクション</a
      >
    </li>
    <li class="gnav__divider px-3">
      <a class="font-noto text-sm font-bold" href="#area-point-news"
        >フォレオ大津一里山 <br />ポイント終了について</a
      >
    </li>
    <li class="gnav__divider px-3">
      <a class="font-noto text-sm font-bold" href="#area-access">アクセス</a>
    </li>
  </ul>
</nav>
